{{ partial "header/styles.html" . }}

<div class="section1">
  <div>Hi!</div>
  <div>I'm Aleks Kamko.</div>
</div>
<div class="section2">
  <div>I’m a developer who likes elegant systems, great user experiences, remote work, and startups.</div>
  <div>These days, I’m building a piece of the future at Mighty. Previously, I’ve been at CrowdAI, Stripe, Twitch, and Facebook.</div>
</div>
<div class="section3">
  <div><span>But that’s no fun.</span> So here’s a button that shoots emojis.</div>
  <div class="emoji-button-container">
    <button class="emoji-button">
      <div class="top circle">FUN</div>
      <div class="base circle">
        <div class="pipe"></div>
      </div>
      <div class="pit circle"></div>
    </button>
  </div>
</div>
<div class="section4"></div>
<div class="section5"></div>

