<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{/*
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- Facebook Open Graph -->
  <meta property="og:title" content="Aleks Kamko">
  <meta property="og:site_name" content="Aleks Kamko">
  <meta property="og:image" content="{{ "/static/img/portrait.jpg" | prepend: site.url }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:type" content="website">

  <!-- Facicons and Apple -->
  <link rel="apple-touch-icon-precomposed" href="{{ "static/ico/apple-touch-icon-precomposed.png" | prepend: site.baseurl }}">
  <link rel="shortcut icon" href="{{ "static/ico/favicon.png" | prepend: site.baseurl }}">
  */}}

  {{ $resetCss := resources.Get "scss/reset.scss" | toCSS (dict "outputStyle" "compressed") | fingerprint }}
  <link rel="stylesheet" href="{{ $resetCss.RelPermalink }}" integrity="{{ $resetCss.Data.Integrity }}">

  {{ $mainCss := resources.Get "scss/main.scss" | toCSS (dict "outputStyle" "compressed") | fingerprint }}
  <link rel="stylesheet" href="{{ $mainCss.RelPermalink }}" integrity="{{ $mainCss.Data.Integrity }}">

  {{ $mainJs := resources.Get "js/main.js" | js.Build "main.js" | minify | fingerprint }}
  <script src="{{ $mainJs.RelPermalink }}" integrity="{{ $mainJs.Data.Integrity }}"></script>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap" rel="stylesheet">
</head>

<body>
<div class="body-container">
  <div class="section one">
    <div class="section-content">
      <div class="portrait">{{ partial "prisma_portrait_round_crop.svg" . }}</div>
      <div class="salutation font-weight-600">
        <div>Hi!</div>
        <div>I'm Aleks Kamko</div>
      </div>
    </div>
  </div>
  <div class="section two white-text">
    <div class="section-content">
      <div>
        I’m a <strike>software engineer</strike> silicon wizard who enjoys system
        design, great user experiences, remote work culture, and dropping the
        trailing period
      </div>
      <div class="horiz-spacer"></div>
      <div>
        These days, I’m building a piece of the future at 
        <a target="_blank" href="https://mightyapp.com/">Mighty</a>.
         Previously, I’ve been at CrowdAI, Stripe, Twitch, Facebook, and UC
         Berkeley
      </div>
    </div>
  </div>
  <div class="section three">
    <div class="section-content">
      <div><span class="text-accent font-weight-600">But that’s no fun.</span> So here’s a button that shoots emojis</div>
      <div class="spacer"></div>
      <div class="emoji-button-container">
        <button class="emoji-button">
          <div class="top circle"><div class="button-text">&lt;FUN/&gt;</div></div>
          <div class="base circle">
            <div class="pipe"></div>
          </div>
          <div class="pit circle"></div>
        </button>
      </div>
    </div>
  </div>
  <div class="section four">
    <div class="section-content">
      <div>You can find me on the internet at these places</div>
      <div class="spacer"></div>
      <div><a target="_blank" href="https://github.com/aykamko">Github</a></div>
      <!-- <div><a target="_blank" href="https://twitter.com/alekskamko">Twitter →</a></div> -->
      <!-- <div><a target="_blank" href="https://www.linkedin.com/in/aleks-kamko/">LinkedIn →</a></div> -->
      <div><a href="mailto:aykamko@gmail.com">aykamko@gmail.com</a></div>
    </div>
  </div>
</div>
</body>