{{ $options := (dict "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $optionsCss := (dict "outputStyle" "compressed") }}

{{/*
{{ $style := resources.Get "scss/hyde-hyde.scss" | toCSS $options | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">

{{ $printStyle := resources.Get "scss/print.scss" | toCSS $options | fingerprint }}
<link rel="stylesheet" href="{{ $printStyle.RelPermalink }}" integrity="{{ $printStyle.Data.Integrity }}" media="print">
*/}}

{{ range .Site.Params.customCss -}}
{{ $customStyle := resources.Get . | toCSS $optionsCss | fingerprint }}
<link rel="stylesheet" href="{{ $customStyle.RelPermalink }}" integrity="{{ $customStyle.Data.Integrity }}">
{{- end }}
